Chapter14/ProNetBeansServicesWebApp/CustomerInfoService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><xs:schema xmlns:tns="http://services.examples.pronetbeans.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.examples.pronetbeans.com/">

<xs:element name="getCustomerById" type="tns:getCustomerById"></xs:element>

<xs:element name="getCustomerByIdResponse" type="tns:getCustomerByIdResponse"></xs:element>

<xs:complexType name="getCustomerById">
<xs:sequence>
<xs:element name="lngCustomerId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>